<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Autobuses</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Autobuses", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Marcas", "Index", "Marca")</li>
                    <li>@Html.ActionLink("Sucursales", "Index", "Sucursal")</li>
                    <li>@Html.ActionLink("Buses", "Index", "Bus")</li>
                    <li>@Html.ActionLink("Viajes", "Index", "Viaje")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                    <li>@Html.ActionLink("Tipos Usuario", "Index", "TipoUsuario")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Roles", "Index", "Rol")</li>
                    <li>@Html.ActionLink("Páginas", "Index", "Pagina")</li>
                    <li>@Html.ActionLink("Rol Página", "Index", "RolPagina")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
